#hero {
    background-color:#f0fcee;
    min-height: 100%;
}

#hero .navbar.is-transparent {
    background-color: transparent;
}

.service-buttons {
    justify-content: center !important;
}

.logos:before {
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid #ebebeb;
}

#contact {
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .navbar-menu a.has-text-white {
        color: #4a4a4a !important;
    }
    .navbar-menu a.has-text-white:hover {
        color: #3273dc !important;
    }
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .navbar, .dark-mode .section, .dark-mode #hero, .dark-mode .table {
    background-color: #1e1e1e;
    color: #ffffff;
}
.dark-mode .table th, .dark-mode .table td {
    border-color: #444444;
}
.dark-mode .table tbody tr:not(.is-selected):hover {
    background-color: #333333;
}