#hero {
    background-color:#f0fcee;
    min-height: 100%;
}

#hero .navbar.is-transparent {
    background-color: transparent;
}

.service-buttons {
    justify-content: center !important;
}

.logos:before {
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid #ebebeb;
}

#contact {
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .navbar-menu a.has-text-white {
        color: #4a4a4a !important;
    }
    .navbar-menu a.has-text-white:hover {
        color: #3273dc !important;
    }
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .navbar, .dark-mode .section, .dark-mode #hero, .dark-mode .table, .dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}
.dark-mode .table th, .dark-mode .table td {
    border-color: #444444;
}
.dark-mode .table tbody tr:not(.is-selected):hover {
    background-color: #333333;
}
/* Style for the toggle button */
.dark-mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dark-mode-toggle .icon {
    margin-right: 5px;
}
.dark-mode-toggle .icon-light {
    display: none;
}
.dark-mode .dark-mode-toggle .icon-light {
    display: inline-block;
}
.dark-mode .dark-mode-toggle .icon-dark {
    display: none;
}
/* Mobile-friendly switch customization */
.navbar-item .switch {
    transform: scale(1.5); /* Increase the size of the switch */
    margin-right: 10px;
}
@media (max-width: 768px) {
    .navbar-item .switch {
        transform: scale(1.3); /* Slightly smaller for smaller devices */
    }
    .navbar-item span {
        font-size: 1rem; /* Adjust the text size for mobile */
    }
}